@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* other */
.flex {
  display: flex;
  align-items: center;
}

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: clamp(30px, 3vw, 64px);
  font-weight: 800;
  text-align: center;
}
p {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
}
span {
  font-size: clamp(16px, 3vw, 18px);
}
a {
  font-size: clamp(16px,);
}


/* header */

.burger {
  display: none;
}
.lang_info {
  display: none;
}
.mobile_flag {
  display: none;
}
.burger_content {
  display: none;
}

header {
  background: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
  box-shadow: 0px 13px 25px -5px rgb(0, 0, 0, .3);
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  width: 155px;
}
.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav {
  display: flex;
}
.header_nav li {
  padding: 15px;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.header_nav li::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: .5s ease-in-out;
}
.header_nav li:hover::after {
  right: 0;
}
.header_nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.flag {
  margin-left: 140px;
}


.mobile_nav {
  display: none;
}

/* title */
.title {
  padding: 6rem 0 0 0;
  text-align: center;
}
.header_title_wrap p {
  color: #54595f;
  margin-top: 1rem;
}
.header_title_wrap {
  overflow-wrap: break-word;
  color: #54595f;
  margin: 2rem 0 1.5rem;
}


/* main */

.instruction {
  width: 100%;
  height: auto;
  padding: 3rem 0;
}
.info_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info_block_img {
  width: 50%;
}
.info_block_img img {
  width: 100%;
  height: 100%;
}
.text_block {
  width: 50%;
}
.text_block {
  color: #202020;
  line-height: 1.5;
}
.text_block p:first-child {
  margin-bottom: 1.5rem;
}


/* accordion */
.accordion {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.accordion_title {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  color: #54595f;
}
.accordion_wrap {
  border-bottom: 1px solid #d5d5d5;
  padding: 15px;
}
.title_wrap {
  cursor: pointer;
  font-weight: 600;
}
.title_wrap {
  color: #54595f;
}
.content_wrap {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: .3s;
}
.content_text {
  padding: 30px 0 15px;
}
.content_text {
  margin-bottom: 1rem;
  color: #54595f;
}
.content_text p:last-child {
  margin-bottom: 0;
}
.content_text {
  color: #54595f;
}
.fa-caret-right {
  color: #54595f;
  font-size: 16px;
  margin-right: 10px;
}
.rotate {
  transform: rotate(-90deg);
  transition: .3s ease-in-out;
}

.quality_video {
  padding: 60px 0;
}

.quality_title {
  text-align: center;
  color: #54595f;
}
.quality_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.quality_wrap p {
  width: 45%;
  color: #202020;
}
.video_row {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 70px;
}
.video_container {
  width: 32%;
  height: auto;
}
.video_container iframe {
  width: 100%;
  height: 200px;
}


/* footer */

footer {
  background-color: #ff8f00;
  padding: 50px 0;
}
.footer_info {
  color: #fff;
}
.footer_info a {
  color: #fff;
  display: block;
  margin-bottom: 16px;
}
.footer_info a:hover {
  text-decoration: none;
}
.footer_logo {
  width: 270px;
  margin-bottom: 20px;
}
.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_contacts {
  color: #fff;
}
.footer_contacts {
  color: #fff;
}
.mail a {
  color: #fff;
  text-decoration: none;
}
.footer_icon {
  margin-right: 10px;
  font-size: 18px;
}

.footer_social {
  display: block;
}
.social_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.social_row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.social_icon a {
  color: #ff8f00;
  font-size: 20px;
  text-decoration: none;
}
.contact_ident {
  margin-bottom: 10px;
}
.contact_ident:last-child {
  margin: 0;
}