.thank_page {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
  margin: 0 auto;
}
.thank_page > div {
  max-width: 40rem;
  min-width: 20rem;
  height: auto;
}
.thank_page > div img {
  width: 100%;
  height: 100%;

}
.thank_page h1 {
  font-style: normal;
  font-size: clamp(24px, 2.5vw, 48px);
  font-weight: 700;
  text-transform: capitalize;
  color: #333333;
  margin-top: 3rem;
}
.thank_page p {
  font-style: normal;
  font-size: clamp(18px, 0.9vw, 32px);
  font-weight: 400;
  text-transform: capitalize;
  color: #333333;
  margin-top: 1rem;
}
.thank_page a {
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #0068DF;
  border-radius: 1.625rem;
  text-decoration: none;
  padding: 1rem 4.5rem;
  margin-top: 4rem;
  transition: .3s;
}
.thank_page a:hover {
  opacity: .8;
}
